In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_cc = pd.read_csv("stndrck_sat_cc.txt", delimiter="\t", header = None)
df_cc.columns = ["year", "month", "day", "ta", "tw"]
df_cv = pd.read_csv("stndrck_sat_cv.txt", delimiter="\t", header = None)
df_cv.columns = ["year", "month", "day", "ta", "tw"]

In [3]:
df_cc.index = pd.to_datetime(df_cc.loc[:, ["year", "month", "day"]])
df_cv.index = pd.to_datetime(df_cv.loc[:, ["year", "month", "day"]])

In [4]:
df = pd.concat([df_cc, df_cv], axis = 0)

In [5]:
df = df.replace(-999.0, np.NaN).asfreq("D")

In [7]:
df = df.loc[:, ["ta", "tw"]]
df

                ta    tw
1994-01-01  -5.612   NaN
1994-01-02 -12.487   NaN
1994-01-03  -9.492   NaN
1994-01-04  -7.104   NaN
1994-01-05 -14.696   NaN
...            ...   ...
2011-12-27   0.167  3.87
2011-12-28  -9.733  3.83
2011-12-29  -2.471  3.81
2011-12-30  -0.071  3.79
2011-12-31   1.008  3.77

[6574 rows x 2 columns]

In [8]:
df.to_csv("../data/superior.csv")