In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
os.chdir("../../air2waterpy/")

In [2]:
from air2waterpy.air2water import air2water

In [3]:
model = air2water(version = "8p")

In [4]:
model.params

array([(1.71593446, 0.42669781, 0.25543303, 17.4732433, 0.31238681, 0.12572006, 87.15387752, 0.4155382)],
      dtype=[('a1', '<f8'), ('a2', '<f8'), ('a3', '<f8'), ('a4', '<f8'), ('a5', '<f8'), ('a6', '<f8'), ('a7', '<f8'), ('a8', '<f8')])

In [6]:
# test api of update parameter boundary based on the depth
model.update_param_bnds(mean_depth_range=(1,10))

In [5]:
params = {"a1": 0.000284,
           "a2": 0.006668,
           "a3": 0.006719,  
            "a4": 2.888324,  
            "a5": 0.017322,  
            "a6": 0.212055,
            "a7": 148.709752,   
            "a8": 0.499891}
model.load_params(params)
model.params

array([(0.000284, 0.006668, 0.006719, 2.888324, 0.017322, 0.212055, 148.709752, 0.499891)],
      dtype=[('a1', '<f8'), ('a2', '<f8'), ('a3', '<f8'), ('a4', '<f8'), ('a5', '<f8'), ('a6', '<f8'), ('a7', '<f8'), ('a8', '<f8')])

# Load data

In [7]:
df = pd.read_csv("data/superior.csv", index_col=0, parse_dates=True)
df

                ta    tw  doy  tdoy      t_ty
1994-01-01  -5.612   NaN    1   365  0.002740
1994-01-02 -12.487   NaN    2   365  0.005479
1994-01-03  -9.492   NaN    3   365  0.008219
1994-01-04  -7.104   NaN    4   365  0.010959
1994-01-05 -14.696   NaN    5   365  0.013699
...            ...   ...  ...   ...       ...
2011-12-27   0.167  3.87  361   365  0.989041
2011-12-28  -9.733  3.83  362   365  0.991781
2011-12-29  -2.471  3.81  363   365  0.994521
2011-12-30  -0.071  3.79  364   365  0.997260
2011-12-31   1.008  3.77  365   365  1.000000

[6574 rows x 5 columns]

In [8]:
cal_period = pd.date_range("1995-01-01", "2004-01-01")
val_period = pd.date_range("2005-01-01", "2011-12-31")

cal_df = df.loc[cal_period]
val_df = df.loc[val_period]

In [12]:
cal_tw_sim = model.simulate(cal_ta, cal_period)